@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
    background-image: url("./../starwars-animation.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: "Oswald", sans-serif;
}

.btn {
    font-family: "Oswald", sans-serif;
    display: none;
    background-color: transparent;
    border: 1px orange solid;
    border-radius: 5px;
    color: orange;
    padding: 0 10px;
    font-size: 20px;
    margin: 20px;
    &:hover {
        box-shadow: 0 0 5px 5px #fffb00;
    }
}

.films {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.films-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(33% - 20px);
    margin: 50px 10px 10px 10px;
    box-sizing: border-box;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 2px orange solid;
        border-radius: 15px;
        width: max-content;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }
    &__title {
        padding: 20px 0;
        text-align: center;
        color: orange;
        span {
            color: white;
            text-transform: uppercase;
        }
    }
    &__poster {
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
    &__release {
        color: white;
        text-align: center;
        padding: 10px 0;
    }
    &__button {
        background-color: transparent;
        color: orange;
        border: 1px orange solid;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
        &:hover {
            box-shadow: 0 0 5px 5px #fffb00;
        }
    }
}
.characters {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    p {
        color: orange;
        width: 100%;
        font-size: 24px;
        text-align: center;
        text-decoration: underline;
    }
    .characters-card {
        flex-wrap: wrap;
        display: flex;
        border: 2px orange solid;
        margin: 20px;
        border-radius: 15px;
        text-align: center;
        &__title {
            width: 100%;
            padding: 10px;
            color: #fffb00;
            font-size: 22px;
        }
        &__release {
            width: 100%;
            padding: 0 10px;
        }
        &__gender {
            width: 100%;
            padding: 10px;
            color: rgb(0, 225, 255);
        }
    }
}
.planets {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
    h2 {
        width: 100%;
        color: orange;
        font-size: 26px;
        text-shadow: 2px 2px #fffb00;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
    }
    .planets-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 150px);
    }
    &.inactive {
        h2,
        .btn-prev,
        .btn-next {
            display: none;
        }
    }
    .btn-next,
    .btn-prev {
        width: max-content;
        height: max-content;
        padding: 10px;
        font-size: 12px;
        text-transform: uppercase;
        background-color: transparent;
        color: orange;
        box-shadow: 3px 5px 8px 3px orange;
    }
    .disable {
        background-color: transparent;
        color: rgb(221, 221, 221);
        box-shadow: 3px 5px 8px 3px rgb(221, 221, 221);
    }
}

.planets-list {
    color: white;
    &__name {
        padding: 0 40px;
        font-size: 20px;
        &:nth-child(odd)::first-letter {
            color: #fffb00;
        }
    }
}
